p{
	font-family: 'Arapey', serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

.btn{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 400;
}

.form-control{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

nav.navbar.navbar-inverse.navbar-fixed-top.blue{
	background: #2B478E;
	color: #fff;
}